@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}
.bcg_img{
    background-image: url("/assets/images/png/bcg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.font_fmly{
    font-family: 'Plus Jakarta Sans';
}
.pt_60{
    padding-top: 100px;
    padding-bottom: 100px;
}
.mrgnt{
    margin-top: -2px;
}
.box{
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 16px 20px;
    align-items: center;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    top: 25%;
    left: -5%;
    z-index: 500;
}
.box_1{
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 16px 20px;
    align-items: center;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    bottom: 32%;
    left: -10%;
}
.box_2{
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 16px 20px;
    align-items: center;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    bottom: 42%;
    right: -5%;
}
.box_3{
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 16px 20px;
    align-items: center;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    bottom: -2%;
    right: 28%;
}
.box_4{
    display: flex;
    width:100%;
    height: 80px;
    padding: 0px 16px;
    align-items: center;
    gap: 14px;
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
}
.box_5{
    width: 70%;
    height: 253px;
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
}
.img_pstn{
        position: absolute;
        top: 20%;
        left: -20%;
}
.img_pstn_1{
    position: absolute;
    top: 15%;
    left: 10%;
}
.img_pstn_2{
    position: absolute;
    top: 48%;
    right: 1%;
}
.img_pstn_3{
    position: absolute;
    top: -30%;
    right: -1%;
}
.img_pstn_4{
    position: absolute;
    top: 5%;
    left: 1%;
}
.img_pstn_5{
    position: absolute;
    top: 10%;
    left: 15%;
}
.img_pstn_6{
    position: absolute;
    top: 10%;
    right: -1%;
}
.img_pstn_7{
    position: absolute;
    top: -25%;
    left: 5%;
}
.pstn_frm{
    position: absolute;
    top: 8%;
    left: 5%;
}
.txt_pstn{
    position: absolute;
    right:35%;
}
.txt_pstn_1{
    position: absolute;
    right: 10%;
    top: 55%;
}
.txt_pstn_2{
    position: absolute;
    top: 10%;
    right: 35%;
}
.txt_pstn_3{
    position: absolute;
    top: 50%;
    right: 11%;
}
.txt_pstn_4{
    position: absolute;
    top: 10%;
    right: 30%;
}
.txt_pstn_5{
    position: absolute;
    top: 50%;
    right: 8%;
}
.txt_pstn_6{
    position: absolute;
    top: 10%;
    right: 30%;
}
.txt_pstn_7{
    position: absolute;
    top: 50%;
    right: 7%;
}
.accordion-button::after {
    display: none;
}
.accordion-button:not(.collapsed) {
    color: #0389ff;
    background-color: #021f39;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion {
    --bs-accordion-color: #b1baca;
    --bs-accordion-bg:transparent;
    --bs-accordion-active-color: #b1baca;
    --bs-accordion-active-bg: #021f3b !important;
    --bs-accordion-border-color: none;
    --bs-accordion-border-radius: 5px !important;

}
.accordion-button {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #0389ff;
    background-color: #021f39;
    border-radius: 5px !important;
}
.accordion-body{
    margin-top: -5px !important;
    background-color: #021f39 !important ;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.bcg{
    background-color: transparent;
    backdrop-filter: blur(5px);
}
.clr-1:hover{
    color: #0389ff;
}
.ds_block{
    display: block;
}
ol, ul {
    padding-left: 0;
}
.bttn_nav{
    padding: 5px 5px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
.zindex{
    z-index: 1000;
}
.slick-dots li button:before {
    color: white;
}
.bcgimg{
    border-radius: 634.947px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(2, 13, 21, 0.00) 20.31%, rgba(2, 13, 21, 0.30) 61.46%, #020D15 93.75%);
}
.bcg_slider{
    background: #020D15;
}
.slick-slide{
    opacity: 0.5;
}
.slick-current{
    opacity: 1;
}
.accordion-button.collapsed img{
    display: none;
}
.comman-ff {
    font-family: "Plus Jakarta Sans";
}
.common-button {
    color: white;
    padding: 13px 32px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
}
.common-button:hover {
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}
.btn-2 {
    padding: 13px 32px;
    border-radius: 40px;
    border: 2px solid #b0b5b9;
    -webkit-text-stroke: 1px transparent;
}
.btn-2:hover {
    border: none;
    background-color: #0069e3;
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}
.bg-img {
    background-image: url("/assets/images/png/bcg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-1 {
    display: flex;
    width: 231px;
    padding: 23.073px 20.519px 20.199px 21.121px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(2px);
}
.box-2 {
    display: flex;
    width: 189.36px;
    height: 185.41px;
    padding: 19.433px 14.18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(31.5px);
}
.dots-box {
    display: flex;
    padding: 9px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px dashed var(--blue, #0389ff);
}
.btn {
    padding: 3.272px 15px;
    border-radius: 44.988px;
    background: linear-gradient(135deg, #0389ff 0%, #0069e3 100%);
}
.arrow {
    position: absolute;
    right: -6%;
    top: 40%;
}
.plus {
    position: absolute;
    right: 9%;
    top: -8%;
    z-index: 1;
}
p {
    margin-top: 0;
    margin-bottom: 0 !important;
}
::placeholder {
    color: whitesmoke !important;
}
.btn {
    border-radius: 40px !important;
}
.btn:hover {
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}
.form-control {
    border: none !important;
    border-radius: 29px !important;
    background: rgba(251, 253, 255, 0.07) !important;
}
.bordr-right {
    border-right: 1px dotted white;
}
.bordr-bottom {
    border-bottom: 1px dotted white;
}
.line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #fbfdff;
}
span{
    border: 2px solid white;
    display: flex;
    width: 50px;
    margin-bottom: 10px;
}
@media (max-width:992px) {
    .nav_bar {
      position: fixed;
      top: 0 !important;
      left: -100%;
      z-index: -1;
      width: 100%;
      height: 100vh;
      background-color: #021728;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 300ms linear;
    
    }
    .left-0{
        left: 0;
    }
    .overflow_hidden{
        overflow: hidden !important;
        height: 100vh;
    }
}
@media (min-width:320px) {
    .bordr-right {
        border-right: none !important;
    }
    .border-bottom {
        border-bottom:none !important;
    }
    .ds_block{
        display: unset;
    }
    .d_none{
        display: none;
    }
    .pt_60 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .accordion-button {
        font-size: 14px !important;
    }
}
@media (min-width:576px) {
    .ds_block{
        display: unset;
    }
}
@media (min-width:1200px) {
    .ds_block{
        display: block;
    }
    .pt_60 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .accordion-button {
        font-size: 16px !important;
    }
    .d_none{
        display: unset;
    }
    .bordr-right {
        border-right: 1px dotted white !important;
      }
      .bordr-right {
        border-right: 1px dotted white !important;
    }
}